<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>ChatApp</title>
    <link rel="stylesheet" href="../styles/estilosini.css">
</head>
<body>
    <div class="sidebar">
        <div class="server-icon">
            <img src="../assets/servidor.png" alt="Icono de Servidores">
            <span>Servidores</span>
        </div>
        <div class="add-server-icon">
            <img src="../assets/agregar.png" alt="Icono de Añadir Servidor">
            <span>Añadir Servidor</span>
        </div>
        
        <div class="sidebar-icons">
            <div class="user-profile">
                <img src="../assets/usuario.png" alt="Imagen de Usuario">
                <p>Nombre de Usuario</p>
            </div>
        </div>
    </div>
    <div class="main-content">
        <!-- Aquí van los servidores -->
    </div>
</body>
</html>