/*Estilos del logeo */
body, html, h1, form {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #580056;
  }
  
  h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  #inicio-form {
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  input[type="text"],
  input[type="password"],
  button {
    width: 94%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: block; /* Hace que los elementos se muestren uno debajo del otro */
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  p {
    text-align: center;
    margin-top: 10px;
    color: #777;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  #message{
    text-align: center;
    color: red;
  }